secrets

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scrapy stuff:
.scrapy

# IDE Settings
.idea/

# Ignore the Output of cached URLs and the JSON file
output/*
test_output/*

# Mac Stuff
.DS_Store
